recebendo-e-enviando-audio/template.json
{
  "name": "Recebendo e enviando Audios",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "de75bb97-cbed-476a-a048-3905f66c0d4d",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        980,
        240
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "775yeOSZFoS9SsYY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 📚 Fluxo do Upload de Arquivo",
        "height": 500,
        "width": 700,
        "color": 7
      },
      "id": "6010c6c9-d7b0-43d0-b4e9-a6fed3b7ced5",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        700,
        -120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem_completa }}",
        "options": {
          "systemMessage": "Você é o SigmaGPT, um agente especialista em Lean Six Sigma Black Belt, com foco em ajudar estudantes a se prepararem para a certificação.\n\nSua principal fonte de informação é uma base de conhecimento estruturada na RAG (chamada “Base-Conhecimento”) que contém materiais oficiais, **não busque informações da internet**.\n\nSeja sempre cordial, didático e estruturado nas respostas. Sempre que possível, forneça **exemplos práticos** para ilustrar os conceitos, principalmente quando forem ferramentas como SIPOC, DMAIC, Diagrama de Causa e Efeito, ou análises estatísticas como ANOVA e regressão.\n\nQuando o usuário fizer uma pergunta:\n- Consulte a Base-Conhecimento via RAG.\n- Se não houver conteúdo direto, dê uma resposta honesta e sugira tópicos relacionados.\n- Ajude o usuário a entender **o que é**, **por que é usado** e **como aplicar** na prática.\n\nSeu tom deve ser amigável e confiável — como um mentor que acompanha o aluno durante toda a jornada do Black Belt.\n\nNunca invente conteúdo fora da base. Diga sempre que sua fonte é a Base-Conhecimento.\n\nExemplo de resposta:\n> \"O ciclo DMAIC é a base do Six Sigma e significa Definir, Medir, Analisar, Melhorar e Controlar. Por exemplo, na fase 'Definir', você pode usar um SIPOC para mapear o processo antes de iniciar a medição. Quer que eu te mostre um exemplo de SIPOC para um processo de atendimento ao cliente?\"\n\nEsteja sempre disponível para reforçar conceitos, sugerir técnicas e revisar conteúdos de forma leve e eficaz."
        }
      },
      "id": "eed94fa9-9cd6-47f2-a08e-8df02e3b848c",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2400,
        540
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "a1b1005d-5d2e-4643-b4d6-a79353b79d5a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2320,
        700
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "775yeOSZFoS9SsYY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 🐕 Fluxo de resposta",
        "height": 600,
        "width": 4400,
        "color": 7
      },
      "id": "b910e6f1-ad77-46da-8a87-3b5e58515e86",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        200,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "milvusCollection": {
          "__rl": true,
          "value": "rag_arquivos",
          "mode": "id"
        },
        "options": {
          "clearCollection": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMilvus",
      "typeVersion": 1.3,
      "position": [
        960,
        -60
      ],
      "id": "d44afc16-2d8a-4161-bf57-c89202749e1c",
      "name": "Milvus Vector Store",
      "credentials": {
        "milvusApi": {
          "id": "QotyvoaRgX2BwszE",
          "name": "Milvus account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "09707d4d-831f-45e1-8ec0-d8c43e8861d8",
      "name": "Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1120,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkOverlap": 60,
        "options": {}
      },
      "id": "997a4a0e-d54c-4db4-a51b-7cdcb1d2082b",
      "name": "Chunks",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1260,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "formTitle": "Carregue seus dados para testar o RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "cb890785-7d73-4b64-821a-5190d8b6ee46",
      "name": "Upload do arquivo",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        760,
        -60
      ],
      "webhookId": "82848bc4-5ea2-4e5a-8bb6-3c09b94a8c5d",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Buscar trechos relevantes de documentos carregados na coleção rag_arquivos para responder perguntas de usuários sobre o conteúdo.",
        "milvusCollection": {
          "__rl": true,
          "value": "rag_arquivos",
          "mode": "id"
        },
        "includeDocumentMetadata": false
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMilvus",
      "typeVersion": 1.3,
      "position": [
        2560,
        740
      ],
      "id": "b584195d-0542-4b30-b204-b504fb48c9fe",
      "name": "Base-Conhecimento",
      "credentials": {
        "milvusApi": {
          "id": "QotyvoaRgX2BwszE",
          "name": "Milvus account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7edb24b4-14f5-41ec-9ed9-71f879be5095",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        560
      ],
      "id": "b7e62f52-3d56-4e2a-b6f4-dba691ef8ddf",
      "name": "Webhook",
      "webhookId": "7edb24b4-14f5-41ec-9ed9-71f879be5095"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc777249-8138-4416-ba08-1635e2482e01",
              "leftValue": "={{ $json.jid }}",
              "rightValue": "celular@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "62477c79-3663-429b-8cfd-cce5d5dbf003",
              "leftValue": "={{ $json.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        540,
        560
      ],
      "id": "5bd35914-7701-412f-a9bb-c341df1a5a34",
      "name": "Filter"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Formata Variaveis').item.json.instancia }}",
        "remoteJid": "={{ $('Formata Variaveis').item.json.jid }}",
        "messageText": "={{ $json['output.mensagens'] }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4200,
        540
      ],
      "id": "76cad5d5-e188-4f05-9e71-ec5fbaf645b3",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "nbI8KVlT6kVOgAmX",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.jid }}_buffer",
        "messageData": "={{ $json.message }}",
        "tail": true
      },
      "id": "0a0aefa8-eff6-4212-86e5-0a88c344d26d",
      "name": "Incluir Mensagem",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1240,
        420
      ],
      "credentials": {
        "redis": {
          "id": "wXFs0ZlKvie891MM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Formata Variaveis').item.json.jid }}_buffer",
        "options": {}
      },
      "id": "f2f654b3-44e9-43ef-86f1-615332ccc3b1",
      "name": "Busca Memória da Conversa",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1600,
        560
      ],
      "credentials": {
        "redis": {
          "id": "wXFs0ZlKvie891MM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "id": "d3d70f58-7913-4dcf-af6f-44d6bf311593",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2000,
        700
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Formata Variaveis').item.json.jid }}_buffer"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2000,
        540
      ],
      "id": "0352f246-8c34-4923-96e1-a25ea4e71fcd",
      "name": "Limpa do Redis",
      "credentials": {
        "redis": {
          "id": "wXFs0ZlKvie891MM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Busca Memória da Conversa').first().json.propertyName\nlet array = Array.isArray(data) ? data : JSON.parse(data);\n\n// Junta os elementos do array com um espaço entre eles\nconst mensagem_completa = array.join(\" \");\n\n// Retorna o resultado com o nome da variável \"mensagem_completa\"\nreturn [{ json: { mensagem_completa: mensagem_completa, sessionId: $('Formata Variaveis').first().json.jid } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        540
      ],
      "id": "bdf8b3ea-ea5a-4b9b-8e90-80719317772d",
      "name": "Formata"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d9d05a6d-d8e3-45dc-b61d-b5e07a950312",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        2680,
        860
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "775yeOSZFoS9SsYY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "188d22a9-6a79-4f62-9ba2-41348b20950d",
              "name": "jid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "036618ad-cd86-4e17-b036-34d93c018fcd",
              "name": "id_mensagem",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "2b530a68-2cdc-4fc2-a348-ea214889ebd8",
              "name": "instancia",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "a8f28eea-589e-4182-9935-ec33675d9ab3",
              "name": "nome",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "3340850e-d9c3-4692-bbab-922c6b72843c",
              "name": "message",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "04bfeea6-bd4f-4b0f-979e-3d199e86ec0e",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "15ad0bd9-fb25-40c3-b2a3-5331624bd5ec",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "f8509987-a860-4dae-8a03-a101d1c9387c",
              "name": "audioMessage",
              "value": "={{ $json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        560
      ],
      "id": "4173ca64-b771-43d0-9d0c-214ad1188c8f",
      "name": "Formata Variaveis"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2400,
        820
      ],
      "id": "839f3d19-e14a-4024-8367-fafa4d74f508",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "wXFs0ZlKvie891MM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1420,
        560
      ],
      "id": "ae9c703d-e34e-44de-a0cc-fa035dd149bc",
      "name": "Consolida Mensagem",
      "webhookId": "dfa7c221-0b47-4dc2-9e7f-a1d4bb642014"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "db03f18b-f375-471f-8187-abc3a5a540e3",
              "leftValue": "={{ $('Busca Memória da Conversa').item.json.propertyName }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1780,
        560
      ],
      "id": "f3918d22-83eb-4c9a-b463-b9372101396c",
      "name": "Valida se existe mensagem"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<mensagem_do_usuario>\n{{ $('AI Agent').first().json.output }}\n</mensagem_do_usuario>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Apenas estruture a <mensagem_do_usuario> no formato JSON solicitado no output parser e seguindo as instruções de formatação abaixo. Não altere nada mais na mensagem\n\n# Formatação\n- Divida as mensagens para que fiquem naturais e humanizadas;\n- Divida as mensagens conforme estrutura do output parser para que não fiquem muito longas (maiores que 200 caractéres);\n- Não separe mensagens vazias;\n- Use quebras de linhas (\\n\\n) após pontos finais;\n- Para negrito (bold) use apenas um '' nunca duas '' (exemplo: *negrito).\n\nExemplo de formato JSON:\n{\n\"mensagens\": [\"Mensagem 0\", \"Mensagem 1\", \"Mensagem 2\"]\n}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        3500,
        420
      ],
      "id": "91fef0c8-26ee-47a6-b35b-a270f6b79b16",
      "name": "Estrutura da Mensagem de Retorno"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3600,
        580
      ],
      "id": "a89a3767-35f5-4cb5-baeb-449115c39387",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "775yeOSZFoS9SsYY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensagens\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"mensagens\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        3720,
        580
      ],
      "id": "df0ad188-2f48-47b2-9def-84d4e622e432",
      "name": "Seta o Tipo de Retorno JSON"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4400,
        560
      ],
      "id": "eddfa6c9-6262-460f-9eee-ef88b21719c6",
      "name": "Espera 2 segundos",
      "webhookId": "bd52fb7e-81a2-4828-bd5c-3774f66d762e"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4400,
        420
      ],
      "id": "ef29ec63-cd0b-410c-be6b-717a53f64227",
      "name": "Não faz nada1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.mensagens",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3820,
        420
      ],
      "id": "e07a1a20-62d7-4ec5-a941-633b3e91ad32",
      "name": "Quebra Mensagens em várias Linhas"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4020,
        440
      ],
      "id": "14680c5f-cc9f-439d-b972-d07aa63835ab",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "101c3ff7-e997-43bb-8e99-fe82746c5993",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "38226af4-80fe-4155-9ceb-2379f44e29ed",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "extendedTextMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "300366d9-2416-4cf4-93c3-e48c8761c60f",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "66a2bcc3-7185-45d8-9ad0-1444298e1b39",
                    "leftValue": "{{ $json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imageMessage"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "34559043-54ef-4dec-b177-2bc8a0eb552c",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        700,
        540
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "audioMessage",
        "options": {
          "mimeType": "=audio/mpeg"
        }
      },
      "id": "1110645e-b9cb-478a-9bea-d487801aa91f",
      "name": "Converter Áudio",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        880,
        620
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "image",
          "mimeType": ""
        }
      },
      "id": "30ecb5b0-fb18-49a3-8468-0c848472da9f",
      "name": "Converter Imagem",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        880,
        800
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "afa4be30-3efd-4cda-90a7-f834cca7c6e8",
      "name": "OpenAI - Transcreve Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        1060,
        620
      ],
      "credentials": {
        "openAiApi": {
          "id": "775yeOSZFoS9SsYY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "text": "Analise essa imagem, oque tem nela?",
        "inputType": "base64",
        "options": {}
      },
      "id": "1b9f82ad-498c-451f-bd33-04e60822f3bc",
      "name": "OpenAI - Analisa Imagem",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        1060,
        800
      ],
      "credentials": {
        "openAiApi": {
          "id": "775yeOSZFoS9SsYY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Formata Variaveis').item.json.jid }}_buffer",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "id": "dc79b3a3-d188-466d-997d-ded6126a1ba7",
      "name": "Incluir Audio",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1240,
        620
      ],
      "credentials": {
        "redis": {
          "id": "wXFs0ZlKvie891MM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Formata Variaveis').item.json.jid }}_buffer",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "id": "ed510ee3-167b-4f0c-89f3-6e9f964582a8",
      "name": "Incluir Imagem",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1240,
        800
      ],
      "credentials": {
        "redis": {
          "id": "wXFs0ZlKvie891MM",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "101c3ff7-e997-43bb-8e99-fe82746c5993",
                    "leftValue": "={{ $('Formata Variaveis').item.json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "38226af4-80fe-4155-9ceb-2379f44e29ed",
                    "leftValue": "={{ $('Formata Variaveis').item.json.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "extendedTextMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "300366d9-2416-4cf4-93c3-e48c8761c60f",
                    "leftValue": "={{ $('Formata Variaveis').item.json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "66a2bcc3-7185-45d8-9ad0-1444298e1b39",
                    "leftValue": "={{ $('Formata Variaveis').item.json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imageMessage"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "7e0be9fb-566e-47e5-9f22-229874d45917",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2800,
        520
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Resuma o texto a seguir para uma resposta em audio do whatsapp \"{{ $json.output }}\"\n\nSempre me retorne o texto resumido diretamente conforme formato abaixo\n\nWhatsApp:texto resumido"
            }
          ]
        },
        "options": {}
      },
      "id": "04c8330a-a88b-4638-ae83-0ac2478d09f0",
      "name": "OpenAI - Resume Mensagem",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        3060,
        760
      ],
      "credentials": {
        "openAiApi": {
          "id": "775yeOSZFoS9SsYY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtém o primeiro item do fluxo\nconst textoEntrada = $input.first().json.message.content;\n\n// Remove quebras de linha (\\n)\nlet textoProcessado = textoEntrada.replace(/\\n/g, \"\").replace(\"WhatsApp:\", \"\").trim();\n\n// Remove emojis\ntextoProcessado = textoProcessado.replace(\n  /[\\u{1F600}-\\u{1F64F}]|[\\u{1F300}-\\u{1F5FF}]|[\\u{1F680}-\\u{1F6FF}]|[\\u{1F700}-\\u{1F77F}]|[\\u{1F780}-\\u{1F7FF}]|[\\u{1F800}-\\u{1F8FF}]|[\\u{1F900}-\\u{1F9FF}]|[\\u{1FA00}-\\u{1FA6F}]|[\\u{1FA70}-\\u{1FAFF}]|[\\u{2600}-\\u{26FF}]|[\\u{2700}-\\u{27BF}]|[\\u{FE00}-\\u{FE0F}]|[\\u{1F1E0}-\\u{1F1FF}]/gu,\n  \"\"\n);\n\n// Remove caracteres especiais, mantendo apenas letras, números e espaços\ntextoProcessado = textoProcessado.replace(/[^a-zA-Z0-9À-ÿ\\s]/g, \"\");\n\n// Retorna o resultado\nreturn {\n  textoOriginal: textoEntrada,\n  textoSemQuebrasNemEmojisNemEspeciais: textoProcessado,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        760
      ],
      "id": "02348015-d644-4413-8cd6-94e33e2f5e06",
      "name": "Formata Mensagem para Áudio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/67bXhg8qkacZvis5eN99",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "=SUA-CHAVE-ELEVENLABS"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"text\":\"{{ $json.textoSemQuebrasNemEmojisNemEspeciais }}\",\n   \"model_id\":\"eleven_multilingual_v2\",\n   \"voice_settings\":{\n      \"stability\":0.5,\n      \"similarity_boost\":0.8,\n      \"style\":0.0,\n      \"use_speaker_boost\":true\n   }\n} ",
        "options": {}
      },
      "id": "9a8fff94-dcbf-494e-b4e0-b5dde2cf31e8",
      "name": "Tratamento de Voz",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3580,
        760
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "a240c7af-b280-4fd4-b44e-e3591669af0e",
      "name": "Audio-Base64-Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3760,
        760
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-audio",
        "instanceName": "={{ $('Formata Variaveis').item.json.instancia }}",
        "remoteJid": "={{ $('Formata Variaveis').item.json.jid }}",
        "media": "={{ $json.data }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4000,
        820
      ],
      "id": "76c4a28a-d518-4352-9610-d5cd78ba3027",
      "name": "Envia Mensagem por Audio",
      "credentials": {
        "evolutionApi": {
          "id": "nbI8KVlT6kVOgAmX",
          "name": "Evolution account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Milvus Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chunks": {
      "ai_textSplitter": [
        [
          {
            "node": "Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader": {
      "ai_document": [
        [
          {
            "node": "Milvus Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Upload do arquivo": {
      "main": [
        [
          {
            "node": "Milvus Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base-Conhecimento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Formata Variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incluir Mensagem": {
      "main": [
        [
          {
            "node": "Consolida Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Memória da Conversa": {
      "main": [
        [
          {
            "node": "Valida se existe mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpa do Redis": {
      "main": [
        [
          {
            "node": "Formata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Base-Conhecimento",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Formata Variaveis": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Consolida Mensagem": {
      "main": [
        [
          {
            "node": "Busca Memória da Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valida se existe mensagem": {
      "main": [
        [
          {
            "node": "Limpa do Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Estrutura da Mensagem de Retorno",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Seta o Tipo de Retorno JSON": {
      "ai_outputParser": [
        [
          {
            "node": "Estrutura da Mensagem de Retorno",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Estrutura da Mensagem de Retorno": {
      "main": [
        [
          {
            "node": "Quebra Mensagens em várias Linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera 2 segundos": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quebra Mensagens em várias Linhas": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Espera 2 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Incluir Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Incluir Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converter Áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converter Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Áudio": {
      "main": [
        [
          {
            "node": "OpenAI - Transcreve Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Imagem": {
      "main": [
        [
          {
            "node": "OpenAI - Analisa Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incluir Audio": {
      "main": [
        [
          {
            "node": "Consolida Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Transcreve Audio": {
      "main": [
        [
          {
            "node": "Incluir Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Analisa Imagem": {
      "main": [
        [
          {
            "node": "Incluir Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incluir Imagem": {
      "main": [
        [
          {
            "node": "Consolida Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Estrutura da Mensagem de Retorno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Estrutura da Mensagem de Retorno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI - Resume Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Estrutura da Mensagem de Retorno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Resume Mensagem": {
      "main": [
        [
          {
            "node": "Formata Mensagem para Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Mensagem para Áudio": {
      "main": [
        [
          {
            "node": "Tratamento de Voz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratamento de Voz": {
      "main": [
        [
          {
            "node": "Audio-Base64-Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio-Base64-Extract from File": {
      "main": [
        [
          {
            "node": "Envia Mensagem por Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4175a8c1-e955-4968-8d6b-4f61652c897f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0043122d26d439c5173e475108c5923269d6c3dff60b76cd61d6454df1a57c8b"
  },
  "id": "2HVVse13l2Ot5zlB",
  "tags": []
}