agent-gpt/Anotar Ideia.json
{
  "name": "Anotar Ideia",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/gpt/anotar-ideia",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        0
      ],
      "id": "643bc05f-2b09-4149-acb4-dbf0abcec8c5",
      "name": "Webhook",
      "webhookId": "25a85a0d-1f80-4c37-b90b-f4fd10a8d7f8",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MaUhWNYtP5jmgxlj",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n     \"status\": \"ok\",\n     \"mensagem\": \"Ideia anotada com sucesso!\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        208,
        0
      ],
      "id": "209816cf-77c3-4b5b-bd9d-d68d15b5fb6a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "675eaa4e-50a2-41c4-976f-186dc9a99285",
              "name": "mensagem",
              "value": "={{ $json.body.mensagem }}",
              "type": "string"
            },
            {
              "id": "b370fad6-a34a-4297-a34f-f4958a1bca24",
              "name": "usuario",
              "value": "={{ $json.body.usuario || 'desconhecido'}}",
              "type": "string"
            },
            {
              "id": "10139b48-2fba-4cc8-b463-505200c64e07",
              "name": "timestamp",
              "value": "={{new Date().toISOString()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        0
      ],
      "id": "c01c6fca-4447-423a-a15b-bd68d61b7223",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/10cBtzEUDctm95R5trxJEVF_QrpX44-nVgqSnB15rnMw/edit?gid=0#gid=0",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Ideias ChatGPT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10cBtzEUDctm95R5trxJEVF_QrpX44-nVgqSnB15rnMw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem": "={{ $json.mensagem }}",
            "timestamp": "={{ $json.usuario }}",
            "usuario": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "usuario",
              "displayName": "usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        0
      ],
      "id": "95928071-6f72-4987-9fec-771e9a8778f9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AzKcCJTzuAdgu8wB",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "dynamic",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "7932243b-6adc-4b2e-a24f-d493d9f136cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94b43a95d2e5a9d6b9de4f27c979229e8a3f48232d51cc3d50633c71c21489c3"
  },
  "id": "UeZpdXqjXbWwGZLA",
  "tags": []
}